
body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background: #e9ecef; 
    color: #000000;
}

header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 40px 20px;     
    text-align: center;     
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

header h1 {
    margin: 0 0 20px 0;
    font-size: 1.8rem;
}

/* Barre de navigation sans puces */
nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Évite la superposition sur petit écran */
    gap: 15px;
}

/* Style des boutons du menu */
nav a {
    text-decoration: none;
    color: white !important;
    background-color: #34495e;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
    border: 1px solid rgba(255,255,255,0.1);
}

nav a:hover {
    background-color: #455d75;
    transform: translateY(-2px);
}

/* Page active (Le bonus du TP) */
nav a.active {
    background-color: #3498db; /* Bleu vif */
    border: 1px solid white;
}

/* La zone blanche du contenu */
main {
    max-width: 1000px;
    margin: 40px auto;
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    min-height: 300px;
}